.navbar {
  position: absolute;
  height: 100%;
  width: 32rem;
  z-index: 1;
  background: $color-white;
  right: 0;
  transform: translateX(32rem);
  transition: transform 0.3s ease-in;
  padding-top: 7.5rem;

  &--isVisible {
    transform: translateX(0);
  }

  &__range {
    padding-right: 1rem;
    padding-left: 1rem;
    &-range {
      cursor: pointer;
      font-size: 1.4rem;
      font-weight: 900;
      display: flex;
      justify-content: space-between;
    }
  }
}
