.nav {
  cursor: pointer;
  position: absolute;
  height: 44px;
  width: 44px;
  background: $color-purple;
  z-index: 2;
  top: 1rem;
  right: 1rem;
  border-radius: 50%;
  color: $color-red;
  line-height: 44px;
  text-align: center;
  font-size: 2.4rem;
  transition: all 0.2s;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  &:hover {
    color: $color-white;
  }
}
