*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1rem = 10px
  height: 100%;
}

body {
  box-sizing: border-box;
  height: 100%;
}

#root {
  height: 100%;
}

@import url("https://use.fontawesome.com/releases/v5.0.12/css/all.css");
